@font-face {
    font-family: 'TTLaundryGothicB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TTLaundryGothicB';
}

body {
    padding: 10vmin 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    width: 500px;
    max-width: 90%;
}

.title_wrap {
    margin-bottom: 20px;
    text-align: center;
}

.title_wrap h1 {
    font-size: 18px;
}

.today {
    font-size: 12px;
}

.input_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.input_group input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #555;
    padding: 0 10px;
    height: 36px;
    font-size: 12px;
    color: #fff;
    background: #444;
}

.input_group input:focus {
    outline: none;
    outline: 1px solid #aaa;
}

.input_group input::placeholder {
    color: #bbb;
}

.input_group button {
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid #555;
    width: 36px;
    height: 36px;
    border-radius: 3px;
    background: transparent;
}

.input_group button:hover {
    background: #555;
}

.list_group {
    position: relative;
    flex: 1 0 0;
    font-size: 12px;
    overflow: auto;
}

.list_group ul {
}

.list_group ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    user-select: none;
}

.list_group ul li + li {
    border-top: 1px solid #444;
}

.list_group ul li.checked .list_content p {
    display: inline-flex;
    position: relative;
    color: #666;
}

.list_group ul li.checked .list_content p::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #888;
    transform: translate(0, -50%);
}

.list_group ul li + .list_group ul li {
    border-top: 1px solid #555;
}

.list_group ul li .list_content {
    position: relative;
    padding-left: 5px;
    padding-right: 15px;
    flex: 4 1 0;
    min-width: 0;
}

.list_group ul li .list_content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 36px;
}

.list_group ul li .list_content form {
    display: flex;
}

.list_group ul li .list_content form input {
    height: 36px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    width: 100%;
    font-size: 12px;
    color: #fff;
}

.list_group ul li .list_content form input:focus {
    outline: none;
}

.list_group ul li .list_content .button_wrap {
    display: flex;
}

.list_group ul li .list_content .button_wrap {
    display: flex;
    flex: 0 0 auto;
}

.list_group ul li .button_wrap {
    display: flex;
    flex: 0 0 auto;
}

.list_group ul li .button_wrap button {
    width: 36px;
    height: 36px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 3px;
}

.list_group ul li .button_wrap button:hover {
    background: #555;
}

.list_group ul li .button_wrap button + button {
    margin-left: 10px;
}

.check_box_group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.check_box_group input[type='checkbox'] {
    display: none;
}

.check_box_group label {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.check_box_group label::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border: 1px solid #555;
    border-radius: 3px;
}

.check_box_group input[type='checkbox']:checked + label::after {
    background: #999;
}

.check_box_group input[type='checkbox']:checked + label::before {
    content: '✔️';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 1;
}
